image: Visual Studio 2017
configuration: Release
before_build:
  - nuget restore src\MakePdf.sln
build:
  parallel: true
  project: src\MakePdf.sln
test_script:
  # OpenCover でカバレッジを計測
  - src\OpenCover.bat vstest.console.exe
  # Codecov への送信コマンド
  - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
  - pip install codecov
  - codecov -f "src\OpenCover.xml"
