<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
      name="f"
      xsi:type="File"
      layout="${longdate} [${threadid:padding=8}] [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring}"
      fileName="${basedir}/logs/${date:format=yyyyMMdd}.log"
      encoding="UTF-8"
      archiveFileName="${basedir}/logs/archives/archive.{#}.log"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyyMMdd"
      maxArchiveFiles="7" />
  <target
      name="c"
      xsi:type="Console"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="f,c" />
  </rules>
</nlog>
